NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_POOL_CONTRACT_ID=
NEXT_PUBLIC_XLM_POOL_ID=
NEXT_PUBLIC_XLM_POOL_100=
NEXT_PUBLIC_XLM_TOKEN_ID=
NEXT_PUBLIC_RELAYER_URL=http://localhost:3002
NEXT_PUBLIC_TOKEN_CONTRACT_ID=
NEXT_PUBLIC_OFFRAMP_API_URL=
